# Auto detect text files and perform LF normalization
* text=auto eol=lf

*.md text eol=lf
*.py text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.xml text eol=lf
*.txt text eol=lf
*.epf -text
*.bin -text
TESTS/fixtures/bare_symbol_*.bsl -text
